@model ShoppingCartDemo.Models.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller)
        </th>
        <th>

        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>
        <td>
            @Model.Price
        </td>
        <td>
            @Model.Quantity
        </td>
        <td>
            @Model.Categories.Single(c => c.Id == Model.CategoryId).Name
        </td>
        <td>
            @Model.Seller
        </td>
        <td>
            @Model.Images.ToList()[0].ImageDescription
        </td>
    </tr>


</table>
