@using ShoppingCartDemo.Models.HtmlHelpers
@model ShoppingCartDemo.Models.ProductListViewModel

@{
    ViewBag.Controller = "AdminCrud";
    ViewBag.Action = "Index";
    Layout = "~/views/shared/_Layout.cshtml";
}

<h2>Edit Operations</h2>
<div class="row">
    <div id="CatSelection" class="ol-5 col-lg-3">
        <a class="btn btn-block btn-default btn-outline-info product active btn-lg collapse-btn"
           type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false">
            Categories
        </a>

        <div class="collapse multi-collapse" style="margin: .5rem 0 .5rem 0">
            @Html.Action("_Menu", "Category",
            new ControllerInfo { Controller = ViewBag.Controller, Action = ViewBag.Action })
        </div>
        @Html.ActionLink("Add New Product", "Create", null, new { @class = "btn btn-block btn-default btn-outline-info product active btn-lg collapse-btn", type = "button" })
    </div>

    <table class="table col-lg-9">
        <tr>
            <th class="text-left">Name</th>
            <th class="text-right">Price</th>
            <th class="text-center">Actions</th>
        </tr>

        @foreach (var item in Model.Products)
        {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => item.Price)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new {  Id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
    <div style="right: 0" class="btn-group-sm ml-auto m-3">
        @Html.PaginationLinks(Model.PagingInfo, pageNum => Url.Action("Index", new { page = pageNum, category = Model.CurrentCategory }))
    </div>
</div>